@page "/items"
@using System.Timers
@implements IDisposable
@inject EntSelService SelectService
<div class="d-flex">
    <h3>Items</h3><span class="pl-4">@fec</span>
</div>
<div class="d-flex">
    <div><span class="pr-4">@selectedId</span></div>
    <div class="col-sm-10"><input class="form-control" @bind="FilterStr" @bind:event="oninput" @onfocus="onFilterFocus" /></div>
</div>
@if (filteredEnts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="height: 100%">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ValStrs</th>
                    <th>Name</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="@filteredEnts" Context="ent">
                    <tr>
                        <td>@ent.Id</td>
                        <td>@ent.ValStrs</td>
                        <td>@ent.Name</td>
                        <td><button type="button" class="btn btn-link" @onclick="@(e => SelectEnt(e, ent.Id))">@ent.Number</button></td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div>

}

@code {
    private int selectedId;
    private Timer _debounceTimer;
    private List<EntSel> ents;
    private List<EntSel> filteredEnts;
    private string filterStr;
    private int fec;
    private string filterPrompt = "Enter up to three filter terms...";

    protected override async Task OnInitializedAsync()
    {
        _debounceTimer = new Timer();
        _debounceTimer.Interval = 1700;
        _debounceTimer.AutoReset = false;
        _debounceTimer.Elapsed += Filter;
        ents = await SelectService.GetItmsAsync();
        filteredEnts = ents;
        fec = filteredEnts.Count;
        filterStr = filterPrompt;
    }

    private async void Filter(Object source, ElapsedEventArgs e)
    {
        if (filterStr.Length > 0)
        {
            string[] terms = String.Concat(filterStr, "   ").Split(" ");
            //filteredAccts = await Task.FromResult(accts.Where(a =>
            //a.ValStrs.Contains(terms[0]) && a.ValStrs.Contains(terms[1]) && a.ValStrs.Contains(terms[2])).ToList());

            filteredEnts = await Task.FromResult(ents.Where(a =>
                a.ValStrs.IndexOf(terms[0], StringComparison.OrdinalIgnoreCase) != -1
                && a.ValStrs.IndexOf(terms[1], StringComparison.OrdinalIgnoreCase) != -1
                && a.ValStrs.IndexOf(terms[2], StringComparison.OrdinalIgnoreCase) != -1
                && a.ValStrs.IndexOf(terms[3], StringComparison.OrdinalIgnoreCase) != -1
                ).ToList());
        }
        else
            filteredEnts = ents;
        fec = filteredEnts.Count;
        if (fec == 1)
            selectedId = filteredEnts[0].Id;
        else
            selectedId = 0;
        await InvokeAsync(StateHasChanged);
    }

    private string FilterStr
    {
        get => filterStr;
        set
        {
            if (value != filterStr)
            {
                filterStr = value;
                _debounceTimer.Stop();
                _debounceTimer.Start();
            }

        }
    }

    private void onFilterFocus()
    {
        if (filterStr.Equals(filterPrompt))
        {
            filterStr = "";
        }
    }

    private void SelectEnt(MouseEventArgs e, int entId)
    {
        selectedId = entId;
        FilterStr = ents.Where(i => i.Id == entId).FirstOrDefault().Number;
    }

    void IDisposable.Dispose()
    {
        _debounceTimer.Elapsed -= Filter;
    }

}
